<!DOCTYPE html>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
    </script>
</environment>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery.bootstrapvalidator/js/bootstrapValidator.js"></script>
<script src="~/lib/jquery.bootstrapvalidator/js/language/tr_TR.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gülseven Sipariş ve Satış Yönetimi</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="container-fluid">
        <nav class="mynav_navbar navbar-fixed-top">
            <div class="navbar-header navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                Fonksiyonlar                                                                                          
            </div>
           <img class="logo" src="~/images/logo.png" width="109" height="61">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Gülseven Sipariş Ve Satış Yönetimi</a>
            <div class="navbar-collapse collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li><a asp-area="" asp-controller="DisplaySales" asp-action="Index">Satış Görüntüleme</a></li>
                    <li><a asp-area="" asp-controller="KasaMutabakat" asp-action="MutabakatEntry">Kasa Mutabakat</a></li>
                    <li><a asp-area="" asp-controller="LabelModels" asp-action="Index">Etiket Düzenleme</a></li>
                    <li><a asp-area="" asp-controller="LoadInvoice" asp-action="Index">Fatura Yükleme</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tanımlar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left:20px;">
                            <ul class="navbar-nav ml-auto">
                                <li><a asp-area="" asp-controller="productmodels" asp-action="Index">Temel Ürün Tanımları</a></li>
                                <li><a asp-area="" asp-controller="packedproducts" asp-action="Index">Paketli Ürün Tanımları</a></li>
                                <li><a asp-area="" asp-controller="employeesmodels" asp-action="Index">Personel Tanımları</a></li>
                                <li><a asp-area="" asp-controller="stocklocationmodels" asp-action="Index">Stok Lokasyon Tanımları</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sipariş İşlemleri
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left:20px;">
                            <ul class="navbar-nav ml-auto">
                                <li><a asp-area="" asp-controller="SiparisModel" asp-action="giris">Sipariş Giriş</a></li>
                                <li><a asp-area="" asp-controller="SiparisModel" asp-action="Liste">Sipariş Listesi</a></li>
                                <li><a asp-area="" asp-controller="SiparisModel" asp-action="Load">Sipariş Yükleme</a></li>
                                <li><a asp-area="" asp-controller="SiparisModel" asp-action="Index">Sipariş Teslim Alınması</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Stok İşlemleri
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left:20px;">
                            <ul class="navbar-nav ml-auto">
                                <li><a asp-area="" asp-controller="UretimGiris" asp-action="Giris">Üretim Giriş</a></li>
                                <li><a asp-area="" asp-controller="stockitems" asp-action="Index">Stok Listesi</a></li>
                            </ul>
                        </div>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </nav>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Gülseven Sipariş ve Satış Yönetimi <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
    <script>
        $.validator.methods.range = function (value, element, param) {
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            var result1 = /[0-9]+[.,]?[0-9]*/.test(value);
            var result2 = this.optional(element); 
            return  /[0-9]+[.,]?[0-9]*/.test(value);
            
        }
    </script>
</body>
</html>
