@model Order_And_Sales_Management_ver1.Models.EmployeesModels

@{
    ViewData["Title"] = "Create";
}

<div class="panel-info">
    <h1>Yeni Kayıt Yaratma Ekranı</h1>
    <h4>Personel Tablosu</h4>
</div>
<div class="alert alert-danger">
    @Html.ValidationSummary(false)
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="persName" class="control-label"></label>
                <input asp-for="persName" class="form-control" />
                <span asp-validation-for="persName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persSurName" class="control-label"></label>
                <input asp-for="persSurName" class="form-control" />
                <span asp-validation-for="persSurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="locationID" class="control-label"></label>
                <select asp-for="locationID" class="form-control" asp-items="ViewBag.locationID"></select>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Yeni Kayıt Yarat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Liste Ekranına Geri Dönüş</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
