@model order_and_sales_management_ver1.Models.baseproduct

@{
    ViewData["Title"] = "Yeni Kayıt Yarat";
}
<div class="panel-info">
    <h5>Yeni Kayıt Yaratma Ekranı</h5>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="barcodeID" class="control-label"></label>
                <input asp-for="barcodeID" class="form-control" readonly/>
                <input asp-for="barcodeID" hidden />
                <span asp-validation-for="barcodeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="retailPrice" class="control-label"></label>
                <input asp-for="retailPrice" class="form-control" />
                <span asp-validation-for="retailPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wholeSalePrice" class="control-label"></label>
                <input asp-for="wholeSalePrice" class="form-control" />
                <span asp-validation-for="wholeSalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Yeni Kayıt Yarat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Liste Ekranına Geri Dönüş</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
