@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-Posta Hesabı Doğrulama";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        E-Posta hesabınız doğruladığınız için teşekkürler.
    </p>
</div>
