@page
@model LockoutModel
@{
    ViewData["Title"] = "Kullanıcı Kilitlendi";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Hesap kilitlendi. Lütfen daha sonra deneyiniz.</p>
</header>
