@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifre Sıfırlama Onayı";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz sıfırlandı. Sisteme giriş için lütfen buraya <a asp-page="./Login"> tıklayınız.</a>.
</p>
